/* Mobile First (recomendado) */
/* estilos base para moviles */
.container {
    padding: 10px;
}

/* Tablets (768px en adelante) */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
        margin: 0 auto;
    }

    .gird {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Esitorio (1024px en adelante) */
@media (min-width: 1024px) {
    .container {
        max-width: 960px;
    }

    .gird {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Moviles horizantales (max-width) */
@media (max-width: 480px) {
    .menu {
        display: noe; /* Ocultar menu normal */
    }

    .menu-moible {
        display: block; /* Mostrar menu hamburguesa */
    }
}