/* Viewport units */
.hero {
    height: 100vh; /* Alto completo de la pantalla */
    width: 100vw; /* Ancho completo */
}

/* Porcentaje */
.contenedor {
    width: 80%; /* 80% del contenedor padre */
    max-width: 1200px; /* Maximo ancho */
}

/* rem/em (tipografia resposiva) */
html {
    font-size: 16px; /* Base*/
}
h1 {
    font-size: 2rem; /*32px */
}

@media (max-width: 768px) {
    html {
        font-size: 14px; /* Todo escala proporcinalmente */
    }
}